<h2>Log in</h2>

<form action="<%=session_url%>", method="post">

  <%= render "authenticity_token" %>

  <label>
    Email:
  </label>
  <input
    type="text"
    name="user[email]"
    id="user_email">
  <br>

  <label>
    Password:
  </label>
  <input
    type="password"
    name="user[password]"
    id="user_password">
  <br>

  <input type="submit" value="Register">

</form>
