<h2>Record a new Track</h2>

<form action="<%=tracks_url%>", method="post">

  <%= render "authenticity_token" %>

  <label for="track_name">
    Name:
  </label>
  <input
    type="text"
    name="track[name]"
    id="track_name">
  <br>

  <label for="track_album_id">
    Album:
  </label>
  <select
    type="option"
    name="track[album_id]"
    id="track_album_id">
  <option></option>
  <% Album.all.each do |album| %>
    <option
    value="<%= album.id %>">
    <%= album.name %>
    </option>
  <% end %>
</select>

  <input type="submit" value="Submit">

</form>
