<h2>Record a new Album</h2>

<form action="<%=albums_url%>", method="post">

  <%= render "authenticity_token" %>

  <label for="album_name">
    Name:
  </label>
  <input
    type="text"
    name="album[name]"
    id="album_name">
  <br>

  <label for="album_band_id">
    Band:
  </label>
  <select
    type="option"
    name="album[band_id]"
    id="album_band_id">
  <option></option>
  <% Band.all.each do |band| %>
    <option
    value="<%= band.id %>">
    <%= band.name %>
    </option>
  <% end %>
</select>

  <input type="submit" value="Submit">

</form>
