<h2>Bands</h2>

<% Band.all.each do |band| %>
  <li>
    <%= link_to band.name, band_url(band) %>
    <ul>
      <% band.albums.each do |album| %>
        <li> <%= link_to album.name, band_url(band) %></li>
        <ul>
          <% album.tracks.each do |track| %>
            <li> <%= link_to track.name, band_url(band) %></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  </li>
<% end %>

<br><br>

<%= link_to "New Band", new_band_url %>
<br>
<%= link_to "New Album", new_album_url %>
<br>
<%= link_to "New Track", new_track_url %>
