<h2>Record a new Band</h2>

<form action="<%=bands_url%>", method="post">

  <%= render "authenticity_token" %>

  <label>
    Name:
  </label>
  <input
    type="text"
    name="band[name]"
    id="band_name">
  <br>

  <input type="submit" value="Submit">

</form>
