<!DOCTYPE html>
<html>
<head>
  <title>Napster2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <form action=" <%=session_url%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign Out">
    <%= render "authenticity_token" %>

  </form>
<% end %>

<%= yield %>

<br>
<%= link_to "Back to Index", bands_url %>

</body>
</html>
